@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --accent: #ff6e30;
    --black: #1e252b;
    --light-black: #283036;
    --white: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 105px 58px 120px;
    background: var(--black);
}

.header-logo {
    width: 130px;
    height: 33px;
}

.header-ul {
    display: flex;
    column-gap: 40px;
}

.header-ul-li-a {
    font-weight: 500;
    color: #ffffff8c;
}

.header-ul-li:nth-child(2) {
    position: relative;
    padding-right: 22px;
}

.header-ul-li:nth-child(2) .header-ul-li-a::after {
    content: "";
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    width: 18px;
    height: 18px;
    background: url(assets/icons/chevron-down.svg);
}

.header-account {
    display: flex;
    align-items: center;
}

.header-account-a-login {
    font-weight: 600;
    color: #ffffffc7;
    padding-right: 40px;
}

.header-account-a-signup {
    font-weight: 600;
    color: #fdf5ff;
    border-radius: 8px;
    background: var(--accent);
    padding: 12px 28px;
}